
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Our Team</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800%7CMuli:100,200,300,400,500,600,700,800">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="fonts.css">
    <link rel="stylesheet" href="style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader" id="loading">
      <div class="preloader-body">
        <div id="loading-center-object">
          <div class="object" id="object_four"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_one"></div>
        </div>
      </div>
    </div>

    <div class="page">
      <section class="section page-header-3 header-section">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="0px" data-xl-stick-up-offset="0px" data-xxl-stick-up-offset="0px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-96x32.png" alt="" width="96" height="32" srcset="images/logo-default-96x32.png 2x"/><img class="brand-logo-light" src="images/logo-default-96x32.png" alt="" width="96" height="32" srcset="images/logo-default-96x32.png 2x"/></a></div>
              </div>
              <div class="rd-navbar-nav-wrap"><a href="index.html">
                  <p class="rd-navbar-slogan rd-navbar-slogan-2 text-white-50 wow clipInLeft">IoT Company</p></a>
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="about-us.html">About Us</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="careers.html">Careers</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="contact-us.html">Contact Us</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="#">More</a>
                    <!-- RD Navbar Megamenu-->
                    <div class="rd-menu rd-navbar-megamenu">
                      <ul class="rd-navbar-megamenu-inner">
                        
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item active"><a class="rd-megamenu-list-link" href="our-team.html">Our Team</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">FAQ</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy policy</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="our-team.html">Our Team</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="login.html">Login</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="register.html">Register</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <!-- RD Navbar Search-->
                <div class="rd-navbar-element rd-navbar-element_centered">
                  <div class="group-xs"><a class="icon icon-sm link-social-2 mdi mdi-facebook" href="#"></a><a class="icon icon-sm link-social-2 mdi mdi-twitter" href="#"></a><a class="icon icon-sm link-social-2 mdi mdi-instagram" href="#"></a></div>
                </div>
              </div>
              <div class="rd-navbar-element rd-navbar-element_right">
                <ul class="list-localization">
                  <li>
                    <label>
                      <input name="localization" value="ma" type="radio"/><span class="label-text">मराठी</span>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input name="localization" value="en" type="radio" checked="checked"/><span class="label-text">English</span>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input name="localization" value="hi" type="radio"/><span class="label-text">हिंदी</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="rd-navbar-dummy"></div>
            </div>
          </nav>
        </div>
      </section>
      <section class="breadcrumbs-custom section-gray">
        <div class="breadcrumbs-custom-main bg-default">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-9">
                <h3 class="text-white breadcrumbs-custom-title">Meet our team</h3>
              </div>
            </div>
          </div>
          <div class="breadcrumbs-custom-aside">
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li><a href="about-us.html">About</a></li>
              <li class="active">Our Team</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="section section-lg">
        <div class="container">
          <div class="row row-50 row-xl-70">
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!-- Profile Modern-->
              <article class="profile-modern">
                <figure class="profile-modern-figure"><img class="profile-modern-image" src="images/team-1-369x315.jpg" alt="" width="369" height="315"/>
                </figure>
                <div class="profile-modern-main">
                  <div class="profile-modern-main-item profile-modern-main-item_primary">
                    <h4 class="profile-modern-name">Vedant S. Mane</h4>
                    <p class="profile-modern-position">Founder & CEO</p>
                  </div>
                  <div class="profile-modern-main-item profile-modern-main-item_secondary">
                    <h4 class="profile-modern-main-title extra-lighter">Get in Touch</h4>
                    <ul class="list-inline list-inline-xs">
                      <li><a class="icon icon-md mdi mdi-facebook" href="https://www.facebook.com/Im.vedantmane"></a></li>
                      <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-instagram" href="https://www.instagram.com/vedant_suryakant_mane/"></a></li>
                    </ul>
                    <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!-- Profile Modern-->
              <article class="profile-modern">
                <figure class="profile-modern-figure"><img class="profile-modern-image" src="images/team-2-369x315.jpg" alt="" width="369" height="315"/>
                </figure>
                <div class="profile-modern-main">
                  <div class="profile-modern-main-item profile-modern-main-item_primary">
                    <h4 class="profile-modern-name">Want your name here?</h4>
                    <p class="profile-modern-position">Chief Financial Officer</p>
                  </div>
                  <div class="profile-modern-main-item profile-modern-main-item_secondary">
                    <h4 class="profile-modern-main-title extra-lighter">Apply for position</h4>
                    <ul class="list-inline list-inline-xs">
                      <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                    </ul>
                    <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!-- Profile Modern-->
              <article class="profile-modern">
                <figure class="profile-modern-figure"><img class="profile-modern-image" src="images/team-3-369x315.jpg" alt="" width="369" height="315"/>
                </figure>
                <div class="profile-modern-main">
                  <div class="profile-modern-main-item profile-modern-main-item_primary">
                    <h4 class="profile-modern-name">Want your name here?</h4>
                    <p class="profile-modern-position">Project Manager</p>
                  </div>
                  <div class="profile-modern-main-item profile-modern-main-item_secondary">
                    <h4 class="profile-modern-main-title extra-lighter">Apply for position</h4>
                    <ul class="list-inline list-inline-xs">
                      <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                    </ul>
                    <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!-- Profile Modern-->
              <article class="profile-modern">
                <figure class="profile-modern-figure"><img class="profile-modern-image" src="images/team-4-369x315.jpg" alt="" width="369" height="315"/>
                </figure>
                <div class="profile-modern-main">
                  <div class="profile-modern-main-item profile-modern-main-item_primary">
                    <h4 class="profile-modern-name">Want your name here?</h4>
                    <p class="profile-modern-position">Senior Developer</p>
                  </div>
                  <div class="profile-modern-main-item profile-modern-main-item_secondary">
                    <h4 class="profile-modern-main-title extra-lighter">Apply for position</h4>
                    <ul class="list-inline list-inline-xs">
                      <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                    </ul>
                    <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!-- Profile Modern-->
              <article class="profile-modern">
                <figure class="profile-modern-figure"><img class="profile-modern-image" src="images/team-5-369x315.jpg" alt="" width="369" height="315"/>
                </figure>
                <div class="profile-modern-main">
                  <div class="profile-modern-main-item profile-modern-main-item_primary">
                    <h4 class="profile-modern-name">Want your name here?</h4>
                    <p class="profile-modern-position">QA Engineer</p>
                  </div>
                  <div class="profile-modern-main-item profile-modern-main-item_secondary">
                    <h4 class="profile-modern-main-title extra-lighter">Apply for position</h4>
                    <ul class="list-inline list-inline-xs">
                      <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                    </ul>
                    <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!-- Profile Modern-->
              <article class="profile-modern">
                <figure class="profile-modern-figure"><img class="profile-modern-image" src="images/team-6-369x315.jpg" alt="" width="369" height="315"/>
                </figure>
                <div class="profile-modern-main">
                  <div class="profile-modern-main-item profile-modern-main-item_primary">
                    <h4 class="profile-modern-name">Want your name here?</h4>
                    <p class="profile-modern-position">Interface Designer</p>
                  </div>
                  <div class="profile-modern-main-item profile-modern-main-item_secondary">
                    <h4 class="profile-modern-main-title extra-lighter">Apply for position</h4>
                    <ul class="list-inline list-inline-xs">
                      <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                    </ul>
                    <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!-- Profile Modern-->
              <article class="profile-modern">
                <figure class="profile-modern-figure"><img class="profile-modern-image" src="images/team-7-369x315.jpg" alt="" width="369" height="315"/>
                </figure>
                <div class="profile-modern-main">
                  <div class="profile-modern-main-item profile-modern-main-item_primary">
                    <h4 class="profile-modern-name">Want your name here?</h4>
                    <p class="profile-modern-position">Head of Marketing</p>
                  </div>
                  <div class="profile-modern-main-item profile-modern-main-item_secondary">
                    <h4 class="profile-modern-main-title extra-lighter">Apply for position</h4>
                    <ul class="list-inline list-inline-xs">
                      <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                    </ul>
                    <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!-- Profile Modern-->
              <article class="profile-modern">
                <figure class="profile-modern-figure"><img class="profile-modern-image" src="images/team-8-369x315.jpg" alt="" width="369" height="315"/>
                </figure>
                <div class="profile-modern-main">
                  <div class="profile-modern-main-item profile-modern-main-item_primary">
                    <h4 class="profile-modern-name">Want your name here?</h4>
                    <p class="profile-modern-position">Business Analyst</p>
                  </div>
                  <div class="profile-modern-main-item profile-modern-main-item_secondary">
                    <h4 class="profile-modern-main-title extra-lighter">Apply for position</h4>
                    <ul class="list-inline list-inline-xs">
                      <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                      <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                    </ul>
                    <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-md-last block-footer-classic section-gray-2">
        <div class="block-footer-classic-wrap">
          <div class="container">
            <div class="row row-50 justify-content-lg-between">
              <div class="col-md-6 col-lg-6 wow clipInLeft">
                <p class="heading heading-alternate-1 text-white">Subscribe to Get Notified!</p>
                <p class="big text-white-50">Sign up to receive updates and fresh news from us.</p>
                <form class="rd-form rd-mailform form-inline form-shadow block-11 ot30" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                  <div class="form-wrap">
                    <input class="form-input" id="subscribe-form-email-13" type="email" name="email" data-constraints="@Email @Required">
                    <label class="form-label" for="subscribe-form-email-13">Enter Your E-mail</label>
                  </div>
                  <div class="form-button">
                    <button class="button button-secondary button-winona" type="submit">Subscribe</button>
                  </div>
                </form>
              </div>
              <div class="col-md-6 col-xl-5 wow clipInLeft">
                <p class="heading heading-alternate-1 text-white">Time to Get Started</p>
                <p class="big text-white-50">Upgrade your lifestyle with MIBAiO!</p>
                <div class="group ot30"><a class="button button-secondary button-winona" href="#">Get a Quote</a><a class="button button-default-outline button-winona text-white" href="about-us.html">More About MIBAiO</a></div>
              </div>
            </div>
          </div>
          <!-- Page Footer-->
          <footer class="section footer-classic footer-classic_boxed text-white-50 text">
            <div class="hr container">
              <hr/>
            </div>
            <div class="footer-classic-main">
              <div class="container">
                <div class="row row-50 justify-content-lg-between">
                  <div class="col-sm-7 col-lg-3 col-xl-2"><a class="brand" href="index.html"><img src="images/logo-default-96x32.png" alt="" width="96" height="32" srcset="images/logo-default-96x32.png 2x"/></a>
                    <p><span class="text" style="max-width: 250px;">MIBAiO is the leading provider of the best automation system for your smarthome.</span></p><a class="button button-color-8 button-winona text-black wow fadeIn" href="login.html">Sign In</a>
                  </div>
                  <div class="col-sm-5 col-lg-3 col-xl-2">
                    <h4 class="footer-classic-title text-white">About</h4>
                    <ul class="list footer-classic-list text-white">
                      <li><a href="about-us.html">About Us</a></li>
                       <li><a href="#">Our Team</a></li>
                      
                    </ul>
                  </div>
                  <div class="col-sm-7 col-lg-5 col-xl-3">
                    <h4 class="footer-classic-title text-white">Useful Links</h4>
                    <ul class="list footer-classic-list footer-classic-list_2-cols text-white">
                      <li><a href="register.html">Sign Up</a></li>
                      <li><a href="careers.html">Careers</a></li>
                      <li><a href="login.html">Log In</a></li>
                      <li><a href="#">FAQ</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-5 col-lg-9 col-xl-2">
                    <h4 class="footer-classic-title text-white">Contact info</h4>
                    <div class="row row-20 row-sm-35">
                      <div class="col-6 col-sm-12 col-lg-8 col-xl-12">
                        <div class="row row-10 text-white-50">
                          <div class="col-lg-6 col-xl-12"><a href="mailto:info@mibaio.xyz">info@mibaio.xyz</a></div>
                          <div class="col-lg-6 col-xl-12"><a class="big" href="tel:+91-9673660515">+91-9673660515</a></div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-12 col-lg-4 col-xl-12 text-right text-sm-left">
                        <div class="group group-xs"><a class="link link-social-1 mdi mdi-twitter" href="#"></a><a class="link link-social-1 mdi mdi-facebook" href="#"></a><a class="link link-social-1 mdi mdi-instagram" href="#"></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hr container">
              <hr/>
            </div>
            <div class="footer-classic-aside">
              <div class="container">
                <p class="text-white-50 rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>MIBAiO</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
              </div>
            </div>
          </footer>
        </div>
      </section>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="core.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>